<button class="btn btn-primary" (click)="novo()">Criar novo</button>

<p-table [value]="estados">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-estado>
    <tr>
      <td>{{estado.id}}</td>
      <td>{{estado.nome}}</td>
      <td>
        <button class="btn btn-primary" (click)="editar(estado)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger" (click)="remover(estado)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Cadastro"
          [(visible)]="showDialog"
          modal="modal"
          [responsive]="true"
          [width]="500">

  <div class="row">

    <div class="col-sm-12">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text"
               id="nome"
               name="nome"
               class="form-control"
               [(ngModel)]="estadoEdit.nome">
      </div>
    </div>

  </div>


  <p-footer>

    <button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>
</p-dialog>
