<button class="btn btn-primary" (click)="novo()">Criar novo</button>

<p-table [value]="cpontos">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Funcionario</th>
      <th>Data</th>
      <th>Entrada</th>
      <th>Saída</th>
      <!--<th>Saldo em Horas</th>-->
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cponto>
    <tr>
      <td>{{cponto.id}}</td>
      <td>{{cponto.funcionario?.pessoa}}</td>
      <td>{{cponto.data}}</td>
      <td>{{cponto.entrada}}</td>
      <td>{{cponto.saida}}</td>
      <!--<td>{{cponto.saldo}}</td>-->
      <td>
        <button class="btn btn-primary" (click)="editar(cponto)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger" (click)="remover(cponto)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Cadastro do Cartão Ponto "
          [(visible)]="showDialog"
          modal="modal"
          [responsive]="true"
          [width]="500">

  <div class="row">

    <div class="col-sm-12">
      <div class="form-group">

        <label for="funcionario">Funcionário</label>
        <p-dropdown name= "funcionario" id="funcionario" [options]="funcionarios"
                    [(ngModel)]="cpontoEdit.funcionario" placeholder="Selecione um funcionário" optionLabel="pessoa"
                    [showClear]="true">
        </p-dropdown>

        <label for="data">Data</label><br>
        <p-calendar id="data"
            dataType="string"
            dateFormat="dd/mm/yy"
            [(ngModel)]="cpontoEdit.data"
            placeholder="Especificar a data">
        </p-calendar><br>

        <label for="entrada">Entrada</label><br>
        <p-calendar id="entrada"
                    dataType="string"
                     [timeOnly]="true"
                     [(ngModel)]="cpontoEdit.entrada">
        </p-calendar>


        <br><label for="saida">Saída</label><br>
        <p-calendar id="saida"
                    dataType="string"
                    [timeOnly]="true"
                    [(ngModel)]="cpontoEdit.saida">
        </p-calendar>

      </div>
    </div>

  </div>


  <p-footer>

    <button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>
</p-dialog>
