<button class="btn btn-primary" (click)="novo()">Criar novo</button>

<p-table [value]="produtos">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Saldo em Estoque</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-produto>
    <tr>
      <td>{{produto.id}}</td>
      <td>{{produto.nome}}</td>
      <td>{{produto.descricao}}</td>
      <td>{{produto.tipo}}</td>
      <td>{{produto.estoque}}</td>
      <td>{{produto.valor}}</td>
      <td>
        <button class="btn btn-primary" (click)="editar(produto)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger" (click)="remover(produto)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Cadastro de Produto ou Serviço"
          [(visible)]="showDialog"
          modal="modal"
          [responsive]="true"
          [width]="500">

  <div class="row">

    <div class="col-sm-12">
      <div class="form-group">

        <label for="nome">Nome</label>
        <input type="text"
               required="required"
               id="nome"
               name="nome"
               class="form-control"
               [(ngModel)]="produtoEdit.nome">

        <label for="descricao">Descrição</label>
        <input type="text"
               required="required"
               id="descricao"
               name="descricao"
               class="form-control"
               [(ngModel)]="produtoEdit.descricao">

        <label for="tipo">Tipo</label>
        <input type="text"
               id="tipo"
               name="tipo"
               class="form-control"
               [(ngModel)]="produtoEdit.tipo">

        <label for="estoque">Saldo em Estoque</label>
        <input type="number"
               id="estoque"
               name="estoque"
               min="0" max="1000000"
               class="form-control"
               [(ngModel)]="produtoEdit.estoque">

        <label for="valor">Valor</label>
        <input type="number"
               id="valor"
               name="valor"
               min="1" max="10000"
               class="form-control"
               [(ngModel)]="produtoEdit.valor">


      </div>
    </div>

  </div>


  <p-footer>

    <button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>
</p-dialog>
