<div *ngIf="isAuthenticated" class="page-topbar">
  <div class="logo-area">

  </div>
  <div class="quick-area">
    <div class="pull-left">
      <ul class="info-menu left-links list-inline list-unstyled">
        <li class="sidebar-toggle-wrap">
          <a href="#" data-toggle="sidebar" class="sidebar_toggle">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="info-menu right-links list-inline list-unstyled">
        <li class="profile">
          <a href="#" data-toggle="dropdown" class="toggle">
            <img src="assets/images/user.png" alt="user-image" class="img-circle img-inline">
            <span>Admin <i class="fa fa-angle-down"></i></span>
          </a>
          <ul class="dropdown-menu profile animated fadeIn">
            <li>
              <a href="#settings">
                <i class="fa fa-wrench"></i>
                Settings
              </a>
            </li>
            <li>
              <a href="#profile">
                <i class="fa fa-user"></i>
                Profile
              </a>
            </li>
            <li>
              <a href="#help">
                <i class="fa fa-info"></i>
                Help
              </a>
            </li>
            <li class="last">
              <a href="javascript:;" (click)="logout()">
                <i class="fa fa-lock"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
<!-- END TOPBAR -->
<!-- START CONTAINER -->
<div *ngIf="isAuthenticated" class="page-container row-fluid container-fluid">

  <!-- SIDEBAR - START -->

  <div class="page-sidebar pagescroll">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
      <div class="profile-info row">
        <div class="profile-image col-xs-4">
          <a href="#">
            <img alt="" src="" class="img-responsive img-circle">
          </a>
        </div>

        <div class="profile-details col-xs-8">
          <h3>
            <a href="#">Admin</a>
            <span class="profile-status online"></span>
          </h3>
          <p class="profile-title">Administrador</p>
        </div>
      </div>

      <ul class="wraplist">
        <li class="menusection">Main</li>
        <li>
          <a href="index.html">
            <i class="fa fa-dashboard"></i>
            <span class="title">Dashboard</span>
          </a>
        </li>

    

        <li>
          <a href="javascript:;">
            <i class="fa fa-columns"></i>
            <span class="title">Layouts</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li>
              <a class="" href="layout-default.html">Default Layout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- MAIN MENU - END -->

  </div>
  <!--  SIDEBAR - END -->
  <!-- START CONTENT -->
  <section id="main-content">
    <section class="wrapper main-wrapper row">
      <router-outlet></router-outlet>
      <!-- MAIN CONTENT AREA ENDS -->
    </section>
  </section>
  <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->

<router-outlet *ngIf="!isAuthenticated"></router-outlet>
