<link rel="stylesheet" type="text/css" class=".../styles.css">
<div _ngcontent-c2="" class="col-lg-12">
  <section _ngcontent-c2="" class="box ">
    <header _ngcontent-c2="" class="panel_header">
      <h4 _ngcontent-c2="" class="title pull-left title1">Cargo</h4>
      <button *ngIf="hasRole('CARGO_CRIAR') || hasRole('ADMIN')" class="btn btn-primary botao"  (click)="novo()">Criar novo</button>

      <p-table [value]="cargos">
          <ng-template pTemplate="header">
            <tr>
              <th class="ids">ID</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th class="acoes">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cargo>
            <tr>
              <td>{{cargo.id}}</td>
              <td>{{cargo.nome}}</td>
              <td>{{cargo.descricao}}</td>
              <td>
                <button *ngIf="hasRole('CARGO_EDITAR') || hasRole('ADMIN')" class="btn btn-primary" (click)="editar(cargo)">
                  <i class="fa fa-edit"></i>
                </button>
                <button *ngIf="hasRole('CARGO_REMOVER') || hasRole('ADMIN')" class="btn btn-danger" (click)="remover(cargo)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </header>
      <div _ngcontent-c2="" class="content-body">
      </div>  
    </section>
  </div>


<p-dialog header="Cadastro"
          [(visible)]="showDialog"
          modal="modal"
          [responsive]="true"
          [width]="500">

  <div class="row">

    <div class="col-sm-12">

      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text"
                  id="nome"
                  name="nome"
                  class="form-control"
                  [(ngModel)]="cargoEdit.nome">
        </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text"
               id="descricao"
               name="descricao"
               class="form-control"
               [(ngModel)]="cargoEdit.descricao">
      </div>
    </div>

  </div>


  <p-footer>

    <button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>
</p-dialog>
