<button class="btn btn-primary" (click)="novo()">Criar novo</button>

<p-table [value]="clientes">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Pessoa</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr>
      <td>{{cliente.id}}</td>
      <td>{{cliente.idPessoa?.nome}}</td>
      <td>
        <button class="btn btn-primary" (click)="editar(cliente)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger" (click)="remover(cliente)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog header="Cadastro"
          [(visible)]="showDialog"
          modal="modal"
          [responsive]="true"
          [width]="500">

  <div class="row">

    <div class="col-sm-12">
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <p-dropdown styleClass="width: 100%" [options]="pessoas" [(ngModel)]="clienteEdit.idPessoa" placeholder="Selecione a Pessoa" optionLabel="nome" [showClear]="true"></p-dropdown>

      </div>
    </div>

  </div>


  <p-footer>

    <button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>
</p-dialog>
