<link rel="stylesheet" type="text/css" class=".../styles.css">
<div _ngcontent-c2="" class="col-lg-12">
  <section _ngcontent-c2="" class="box ">
    <header _ngcontent-c2="" class="panel_header">
      <h4 _ngcontent-c2="" class="title pull-left title1">Funcion√°rio</h4>
      <button class="btn btn-primary botao"  (click)="novo()">Criar novo</button>

        <p-table [value]="funcionarios">
          <ng-template pTemplate="header">
            <tr>
              <th class="ids">ID</th>
              <th>Matricula</th>
              <th>Nome</th>
		      <th>Apelido</th>
		      <th>CGC</th>
		      <th>Telefone</th>
		      <th>EndereÁo</th>
		      <th>E-mail</th>
		      <th>Estado</th>
		      <th>Cidade</th>
              <th>Data de Admiss√£o</th>
              <th>Ativo</th>
              <th>Setor</th>
              <th>Cargo</th>
              <th>Sal√°rio</th>
              <th class="acoes">A√ß√µes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-funcionario>
            <tr>
              <td>{{funcionario.id}}</td>
              <td>{{funcionario.matricula}}</td>
              <td>{{funcionario.nome}}</td>
              <td>{{funcionario.apelido}}</td>
		      <td>{{funcionario.cgc}}</td>
		      <td>{{funcionario.telefone}}</td>
		      <td>{{funcionario.endereco}}</td>
		      <td>{{funcionario.email}}</td>
	          <td>{{fornecedor.estado.nome}}</td>
  			  <td>{{fornecedor.cidade.nome}}</td>
              <td>{{funcionario.admissao}}</td>
              <td>{{funcionario.ativo}}</td>
              <td>{{funcionario.setor}}</td>
              <td>{{funcionario.cargo}}</td>
              <td>{{funcionario.salario}}</td>
              <td>
                <button class="btn btn-primary" (click)="editar(funcionario)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="remover(funcionario)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </header>
      <div _ngcontent-c2="" class="content-body">
      </div>  
    </section>
  </div>


<p-dialog header="Cadastro"
          [(visible)]="showDialog"
          modal="modal"
          [responsive]="true"
          [width]="500">

  <div class="row">

    <div class="col-sm-12">

      <div class="form-group">
          <label for="matricula">Matricula</label>
          <input type="text"
                  id="matricula"
                  name="matricula"
                  class="form-control"
                  [(ngModel)]="funcionarioEdit.matricula">
        </div>

        <div class="form-group">
          <label for="pessoa">Nome</label>
          <input type="text"
                  id="pessoa"
                  name="pessoa"
                  class="form-control"
                  [(ngModel)]="funcionarioEdit.pessoa">
        </div>
        
        <div class="row">

    <div class="col-sm-12">
      <div class="form-group">
        <label for="apelido">Apelido</label>
        <input type="text"
               id="apelido"
               name="apelido"
               class="form-control"
               [(ngModel)]="funcionarioEdit.apelido">
      </div>
    </div>
  </div>
    <div class="row">

    <div class="col-sm-12">
      <div class="form-group">
        <label for="cgc">CNPJ</label>
        <input type="text"
               id="cgc"
               name="cgc"
               class="form-control"
               [(ngModel)]="funcionarioEdit.cgc">
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-sm-12">
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text"
               id="telefone"
               name="telefone"
               class="form-control"
               [(ngModel)]="funcionarioEdit.telefone">
      </div>
    </div>
  </div>
    <div class="row">

    <div class="col-sm-12">
      <div class="form-group">
        <label for="endereco">Endereco</label>
        <input type="text"
               id="endereco"
               name="endereco"
               class="form-control"
               [(ngModel)]="funcionarioEdit.endereco">
      </div>
    </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text"
                 id="email"
                 name="email"
                 class="form-control"
                 [(ngModel)]="funcionarioEdit.email">
        </div>
      </div>
    </div>
    
    <div class="row">
     <div class="col-sm-12">
       <div class="form-group">
		    <label for="estado">Estado</label>
		    <p-dropdown name= "estado" id="estado" [options]="estados" (onChange)="buscaCidades(funcionarioEdit.estado)"
		                [(ngModel)]="funcionarioEdit.estado" optionLabel="nome" [autoDisplayFirst]="false">
		    </p-dropdown>
       </div>
     </div>
  </div>
        
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
	    <label for="cidade">Cidade</label>
	    <p-dropdown name= "cidade" id="cidade" [options]="cidades"
	               [(ngModel)]="funcionarioEdit.cidade" optionLabel="nome" [autoDisplayFirst]="false">
	    </p-dropdown>
       </div>
     </div>
  </div>

      <div class="form-group">
          <label for="admissao">Admiss„o</label>
          <p-calendar name="adissao" [(ngModel)]="funcionarioEdit.admissao"></p-calendar>
      </div>

      <p-checkbox name="ativo" [(ngModel)]="funcionarioEdit.ativo" label="Ativo" binary="true"></p-checkbox>


      <div class="form-group">
          <label for="setor">Setor</label>
        <p-dropdown name= "setor" [options]="setores" [(ngModel)]="funcionarioEdit.setor" optionLabel="descricao"></p-dropdown>
      </div>

      <div class="form-group">
          <label for="cargo">Cargo</label>
        <p-dropdown name= "cargo" [options]="cargos" [(ngModel)]="funcionarioEdit.cargo" optionLabel="nome"></p-dropdown>
      </div>


      <div class="form-group">
        <label for="salario">Sal·rio</label>
        <input type="number"
               id="salario"
               name="salario"
               class="form-control"
               value="999.999.999,99"
               [(ngModel)]="funcionarioEdit.salario">
      </div>
    </div>

  </div>


  <p-footer>

    <button type="button" class="btn btn-default" (click)="showDialog = false">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
  </p-footer>
</p-dialog>
